@import url("reset.css");
html {
    background-color: #80785C;
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    -webkit-text-size-adjust: none;
    width: 100%;
    min-height: 100%;
}

#BLACK {
    display: block;
    width: 100%;
    min-width: 320px;
    background-color: #000;
    position: fixed;
    top: 0;
}

#BLACK h1 {
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: normal;
}

#BLACK h6#BTN {
    display: block;
    width: 45px;
    height: 30px;
    background-image: url("../images/btn.png");
    position: absolute;
    right: 8px;
    top: 10px;
    background-size: 45px auto;
    cursor: pointer;
}

#Wrapper {
    width: 100%;
    min-width: 320px;
}

#Header {
    padding-top: 1px;
}

#Header .banner {
    width: 100%;
    /*height: 142px;*/
	height: 0px;
   /* background: url(../small-images/banner.jpg) no-repeat center center;*/
    /*border-bottom: 5px solid #222;*/
   /* box-shadow: 0 5px 10px #333;*/
   /* background-size: cover;*/
}

#MENU {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#MENU ul {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -120px;
}

#MENU li {}

#MENU li a {
    display: block;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    background-color: #FFF;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #000;
}

#MENU li a:hover {
    background-color: #DDD;
}


/*///////////////////////////////////////////*/

#main{
	display: none;
}

